[submodule "hardware/kicad_project/kicad_libraries/kicad-library"]
	path = hardware/kicad_project/kicad_libraries/kicad-library
	url = https://github.com/KiCad/kicad-library.git
[submodule "hardware/kicad_project/kicad-library"]
	path = hardware/kicad_project/kicad-library
	url = https://github.com/ashtonchase/kicad-library
